.container {
  font-family: 'Arial', sans-serif;
  background-color: #fff;  
  border: 1px solid #4a4a4a;
  text-align: center;
}

h2 {
  font-size: 2rem;
  
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #007bff; 
}

.job-section {
  border: 1px solid #ddd;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h4 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #007bff;
  text-align: left;  
}

.job-info {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.available {
  text-align: left;  
  display: block;  
  padding: 10px;  
  text-decoration: none;  
  color: #333;  
  border: 1px solid #ddd;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}